/* CSS styles */


/* GLOBAL STYLES */

body {
    background-color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: darkseagreen;
}


footer {
    background-color: orange;
}
