{% extends "layout.html" %}

{% block title %}
New recipe
{% endblock %}

{% block main %}
<div class="container-fluid">
    <h3 class="pb-3">Nueva receta</h3>
    <form action="/create_recipe" method="post" class="mb-4">
<!-- RECIPE NAME -->
        <div class="mb-3">
            <label for="recipe_name" class="form-label">Nombre</label>
            <input autofocus type="text" class="form-control" id="recipe_name" name="recipe_name">
        </div>
<!-- INGREDIENTS -->
        <section id="ingredients">
            <p class="form-label">Ingredientes</p>

            <div class="row mb-2" id="ing_1">
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="quantity">Cantidad</label>
                    <input type="number" class="form-control" id="quantity" placeholder="Cantidad" name="quantity_1" min="0">
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="unit_1">Unidad</label>
                    <select class="form-select" id="unit_1" name="unit_1">
                        <option selected>Elegir unidad</option>
                        {% for unit in units %}
                        <option value="{{unit['id']}}">{{unit["name"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="ingredient_1">Ingrediente</label>
                    <select class="form-select" id="ingredient_1" name="ingredient_1">
                        <option selected>Elegir ingrediente</option>
                        {% for ingredient in ingredients %}
                        <option value="{{ingredient['id']}}">{{ingredient["name"]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </section>

        <button class="btn btn-info" id="add_ing_input">Agregar ingrediente</button>
<!-- INSTRUCTIONS -->
        <div class="mb-3">
            <label for="recipe_instructions" class="form-label">Instrucciones</label>
            <textarea rows="7" class="form-control" id="recipe_instructions" name="recipe_instructions"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>

    </form>

    <!-- <h4 class="mb-3">Falta algún ingrediente o una unidad?</h4>

    <form action="/RUTAAAA" method="post">
        <div class="row mb-3">
            <div class="col-sm-3 mb-2">
                <label for="new_ing" class="col-form-label">Nuevo ingrediente</label>
            </div>
            <div class="col-sm-6  mb-2">
                <input type="text" class="form-control" id="new_ing" name="new_ing">
            </div>
            <div class="col-auto mb-2">
                <button class="btn btn-warning">Agregar</button>
            </div>
        </div>
    </form>

    <form action="/RUTAAAA" method="post">
        <div class="row mb-3 align-items-start">
            <div class="col-sm-3 mb-2">
                <label for="new_unit" class="col-form-label">Nueva unidad</label>
            </div>
            <div class="col-sm-6 mb-2">
                <input type="text" class="form-control" id="new_unit" name="new_unit">
            </div>
            <div class="col-auto mb-2">
                <button class="btn btn-warning">Agregar</button>
            </div>
        </div>
    </form> -->

</div>

{% endblock %}

{% block script %}

<script>
    i = 1;

    document.addEventListener('DOMContentLoaded', function () {
        console.log("Script loaded!"); // Check if the script is loaded

        // Attach the event listener to the button
        const add_ing_input = document.getElementById('add_ing_input');

        function ing_input(number) {
            console.log("i es" + i);
            return (
                `
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="quantity_${number}">Quantity</label>
                    <input type="number" class="form-control" id="quantity_${number}" placeholder="Cantidad" name="quantity_${number}" min="0">
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="unit_${number}">Unit</label>
                    <select class="form-select" id="unit_${number}" name="unit_${number}">
                        <option selected>Choose unit</option>
                        {% for unit in units %}
                        <option value="{{unit['id']}}">{{unit["name"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="ingredient_${number}">Ingredient</label>
                    <select class="form-select" id="ingredient_${number}" name="ingredient_${number}">
                        <option selected>Choose ingredient</option>
                        {% for ingredient in ingredients %}
                        <option value="{{ingredient['id']}}">{{ingredient["name"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-secondary" id="remove_ing_input_${number}">
                        <i class="bi bi-dash-square" id="remove_icon_${number}"></i>
                    </button>
                </div>

                `
            )};

        // Verify if the element is found
        if (add_ing_input) {
            console.log("add_ing_input element found!");

            add_ing_input.addEventListener('click', function (event) {
                // Prevent default behavior
                event.preventDefault();

                // Log to verify button click
                console.log("Button clicked!");

                // Create a new <p> element
                const div = document.createElement("div");
                div.classList.add("row");
                div.classList.add("mb-2");
                i += 1;
                div.setAttribute('id', "ing_" + i);
                console.log("div created");
                div.innerHTML = ing_input(i);
                console.log("innerhtml added")

                // Append the new <div> to the form
                document.querySelector("#ingredients").appendChild(div);

                // Create function to remove input line
                document.querySelector("#remove_ing_input_" + i).addEventListener('click', function(event) {
                    // Prevent default behavior
                    event.preventDefault();
                    console.log(event.target.id);
                    target_id = event.target.id;
                    index = target_id.substring(target_id.length - 1);
                    console.log(index);
                    document.querySelector("#ing_" + index).remove();
                })
            });
        } else {
            console.log("Button not found!");
        }
    });
</script>

{% endblock %}