{% extends "layout.html" %}

{% block title %}
New recipe
{% endblock %}

{% block main %}
<div class="container-fluid">
    <h2 class="pb-3">Nueva receta</h2>
    <form action="/create_recipe" method="post" class="mb-4">
        <!-- RECIPE NAME -->
        <div class="mb-3">
            <label for="recipe_name" class="form-label">Nombre</label>
            <input autofocus type="text" class="form-control" id="recipe_name" name="recipe_name">
        </div>

        <!-- INGREDIENTS -->
        <section id="ingredients">
            <p class="form-label">Ingredientes</p>

            <div class="row mb-2" id="ing_1">
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="quantity">Cantidad</label>
                    <input type="number" step="0.01" min="0" class="form-control" id="quantity" placeholder="Cantidad" name="quantity_1">
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="unit_1">Unidad</label>
                    <select class="form-select select-units" id="unit_1" name="unit_1">
                        <option selected>Elegir unidad</option>
                        {% for unit in units %}
                        <option value="{{unit['id']}}">{{unit["name"]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="ingredient_1">Ingrediente</label>
                    <select class="form-select select-ingredients" id="ingredient_1" name="ingredient_1">
                        <option selected>Elegir ingrediente</option>
                        {% for ingredient in ingredients %}
                        <option value="{{ingredient['id']}}">{{ingredient["name"]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </section>

        <button type="button" class="btn btn-color mb-3" id="add_ing_input">Agregar ingrediente</button>

        <!-- INSTRUCTIONS -->
        <div class="mb-3">
            <label for="recipe_instructions" class="form-label">Instrucciones</label>
            <textarea rows="7" class="form-control" id="recipe_instructions" name="recipe_instructions"></textarea>
        </div>
        <button type="submit" class="btn btn-color">Crear</button>

    </form>

    <!-- Add ingredients and units -->
    <h4 class="mb-3">Falta algún ingrediente o una unidad?</h4>

    <form action="/create_ingredient" method="post" id="new_ing_form">
        <div class="row mb-3">
            <div class="col-sm-3 mb-2">
                <label for="new_ing" class="col-form-label">Nuevo ingrediente</label>
            </div>
            <div class="col-sm-6 mb-2">
                <input type="text" class="form-control" id="new_ing" name="new_ing">
            </div>
            <div class="col-auto mb-2">
                <button class="btn btn-color">Agregar</button>
            </div>
        </div>
    </form>

    <form action="/create_unit" method="post" id="new_unit_form">
        <div class="row mb-3 align-items-start">
            <div class="col-sm-3 mb-2">
                <label for="new_unit" class="col-form-label">Nueva unidad</label>
            </div>
            <div class="col-sm-6 mb-2">
                <input type="text" class="form-control" id="new_unit" name="new_unit">
            </div>
            <div class="col-auto mb-2">
                <button class="btn btn-color">Agregar</button>
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block script %}

<script>
    // Counter initialization
    let i = 1;

    // Create JavaScript dictionary-type Objects containing key-value pairs made up 
    // of the id of de unit/ingredient (key) and the name of the unit/ingredient (value)
    // based on the ingredients and units provided from the DB upon the page load.
    all_ingredients = {
        {% for ingredient in ingredients %}
            {{ ingredient['id'] }}: "{{ ingredient["name"] }}",
        {% endfor %}
    };

    all_units = {
        {% for unit in units %}
            {{unit['id']}}: "{{unit["name"]}}",
        {% endfor %}
    };


    document.addEventListener('DOMContentLoaded', function () {
        console.log("Script loaded!"); // Check if the script is loaded

        // Add ingredient input lines:

        // Dynamically create the options for <select> inputs for ingredients and units
        function create_options_string(all_items) {
            let options = "";
            for (const item in all_items) {
                options = options + `<option value="${item}">${all_items[item]}</option>`;
            };
            return options;
        };

        // Create the HTML-containing string that will be inserted into the ingredient input row
        function create_ing_input(number) {

            // Dynamically create the options for <select> inputs for ingredients and units
            ingredient_options = create_options_string(all_ingredients);
            units_options = create_options_string(all_units);

            return (
                `
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="quantity_${number}">Cantidad</label>
                    <input type="number" class="form-control" id="quantity_${number}" placeholder="Cantidad" name="quantity_${number}" min="0">
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="unit_${number}">Unidad</label>
                    <select class="form-select select-units" id="unit_${number}" name="unit_${number}">
                        <option selected>Elegir unidad</option>`
                + units_options +
                `</select>
                </div>
                <div class="col-auto mb-2">
                    <label class="visually-hidden" for="ingredient_${number}">Ingrediente</label>
                    <select class="form-select select-ingredients" id="ingredient_${number}" name="ingredient_${number}">
                        <option selected>Elegir ingrediente</option>`
                + ingredient_options +
                `</select>
                </div>
                <div class="col-auto mb-2">
                    <button type="button" class="btn btn-secondary" id="remove_ing_input_${number}">
                        <i class="bi bi-dash-square" id="remove_icon_${number}"></i>
                    </button>
                </div>

                `
            )
        };

        // Create function to remove input line
        function remove_ing_input(button_id) {
            document.querySelector("#" + button_id).addEventListener('click', function (event) {
                // Prevent default behavior
                event.preventDefault(); 
                // Get the id of the clicked element
                target_id = event.target.id;
                // Get the number that indexes the id
                index = target_id.substring(target_id.length - 1);
                // remove the row whose id is ing_index
                document.querySelector("#ing_" + index).remove();
            });
        };

        // Find the button that will have the event listener
        const add_ing_input = document.querySelector('#add_ing_input');

        // Verify if the element is found
        if (add_ing_input) {
            console.log("add_ing_input element found!");

            // Attach the event listener to the button
            add_ing_input.addEventListener('click', function (event) {
                // Prevent default behavior
                event.preventDefault();

                // Log to verify button click
                console.log("Button clicked!");

                // Increment the counter
                i += 1;

                // Create a new <div> element
                const div = document.createElement("div");
                div.classList.add("row");
                div.classList.add("mb-2");
                div.setAttribute('id', "ing_" + i);
                div.innerHTML = create_ing_input(i);

                // Append the new <div> to the form
                document.querySelector("#ingredients").appendChild(div);

                // Create function to remove input line
                remove_ing_input("remove_ing_input_" + i);


            });
        } else {
            console.log("Button not found!");
        };

        // AJAX to add new ingredients and units created to the dropdown menus and POST to back end

        // Function to update all dropdowns with the new option
        function update_all_dropdowns(select_class, new_item_id, new_item_name, all_items) {
            const dropdowns = document.querySelectorAll(select_class);
            dropdowns.forEach(dropdown => {
                const new_option_element = document.createElement('option');
                new_option_element.text = new_item_name;
                new_option_element.value = new_item_id;
                dropdown.appendChild(new_option_element);
                all_items[new_item_id] = new_item_name;
            });
        };


        // JavaScript function to handle the form submission for new ingredients and units and AJAX request
        function post_new_item_update_dropdowns(form_id, input_id, post_route, select_class, all_items) {

            document.querySelector(form_id).addEventListener('submit', function (event) {
                event.preventDefault();

                // Get the new option value
                const new_option = document.querySelector(input_id).value;

                // Send the AJAX request to the backend
                // https://www.freecodecamp.org/news/how-to-use-fetch-api/
                // https://stackoverflow.com/questions/63502630/how-to-use-fetch-to-get-post-data-from-flask
                // https://stackoverflow.com/questions/67865889/what-is-different-between-fetch-and-jquery-ajax-post
                fetch(post_route, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({
                        "new_item_name": new_option
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            // Handle any errors returned by the server
                            return response.json().then(error => { throw new Error(error.error); });
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        // Update all dropdowns with the new option
                        update_all_dropdowns(select_class, data.item_id, data.item_name, all_items);

                        // Clear the input field
                        document.querySelector(input_id).value = '';
                    })
                    .catch(error => {
                        console.error('Fetch Error:', error);
                    });
            });
        };

        // Call functions for new ingredients and units
        post_new_item_update_dropdowns('#new_ing_form', '#new_ing', '/create_ingredient', '.select-ingredients', all_ingredients);
        post_new_item_update_dropdowns('#new_unit_form', '#new_unit', '/create_unit', '.select-units', all_units);

    });
</script>

{% endblock %}