{% extends "layout.html" %}

{% block title %}
    Edit unit
{% endblock %}

{% block main %}
<section class="container-fluid">
    <form action="/edit_single_unit" method="post" class="row">
        <input name="unit_id" type="hidden" value="{{ unit[0]['id'] }}">
        <label for="unit_name" class="col-form-label col-auto">Editar unidad: </label>
        <div class="col-auto">
            <input type="text" class="form-control col-sm-3" id="unit_name" name="unit_name" value="{{ unit[0]["name"] }}">
        </div>
        <button type="submit" class="btn btn-color col-auto mx-3"><i class="bi bi-pen"></i>  Editar</button>
        
    </form>
</section>
    
{% endblock %}

{% block script %}

{% endblock %}