{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    

    <section class="container-fluid text-center">
        <h1 class="mb-5">Recetas</h1>
        <div class="row">
            {% for row in rows %}
                <div class="col-md-4 col-sm-6 my-3 align-self-center">
                    <div class="card">
                        <div class="card-body">
                            <form action="/" method="post">
                                <input name="id" type="hidden" value="{{ row['id'] }}">
                                <button type="submit" class="btn stretched-link"><p class="card-title p-0 m-0">{{ row["name"] }}</p></button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

{% block script %}

{% endblock %}
