{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}

    <h2>{{ recipe[0]["name"] }}</h2>
    <h3>Ingredientes</h3>
    <!-- ADD INGREDIENTS -->
        <ul>
            {% for ing in ing_used %}
                <li>{{ ing["quantity"] }} {{ ing["unit_id"] }} {{ ing["ing_id"] }}</li>
            {% endfor %}
        </ul>
    
    <h3>Instrucciones</h3>
    <p>{{ recipe[0]["instructions"] }}</p>

    <form action="/RUTAAA" method="get" class="mb-3">
        <input name="recipe_id" type="hidden" value="{{ recipe[0]['id'] }}">
        <button type="submit" class="btn btn-success"><i class="bi bi-printer"></i> Exportar</button>
    </form>

    <form action="/edit_recipe" method="get" class="mb-3">
        <input name="recipe_id" type="hidden" value="{{ recipe[0]['id'] }}">
        <button type="submit" class="btn btn-info"><i class="bi bi-pencil"></i> Editar</button>
    </form>

    <form action="/delete_recipe" method="get" class="mb-3">
        <input name="recipe_id" type="hidden" value="{{ recipe[0]['id'] }}">
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</button>
    </form>

{% endblock %}


{% block script %}


{% endblock %}